{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}
<div class="edit-page">
    <h1 class="text-center">Edit Message</h1>

    <div class="form-container">
        {{ include('message_forum/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="form-actions">
            <a href="{{ path('app_message_forum_index') }}" class="btn btn-secondary">Back to List</a>
            {{ include('message_forum/_delete_form.html.twig', {'button_class': 'btn btn-danger'}) }}
        </div>
    </div>
</div>
{% endblock %}
