{% extends 'base.html.twig' %}

{% block title %}Create New User{% endblock %}

{% block body %}
<div class="new-page">
    <h1 class="text-center">Create New User</h1>

    <div class="form-container">
        {{ include('user/_form.html.twig') }}
        
        <div class="form-actions text-center">
            <a href="{{path('app_user_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
